# Template pour le fichier .env

# Variables communes
KEYCLOAK_EXTERNAL_URL=https://localhost-keycloak:8085
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=kanban-realm
JAVA_TRUSTSTORE_PASSWORD=changeit

# Variables OIDC normalisées
OIDC_ISSUER_URI=${KEYCLOAK_EXTERNAL_URL}/realms/${KEYCLOAK_REALM}
OIDC_CLIENT_ID=kanban-bff
OIDC_CLIENT_SECRET=bff-secret
OIDC_REDIRECT_URI=http://localhost:8080/login/oauth2/code/keycloak

# Endpoints OIDC explicit (BFF)
OIDC_AUTH_URI=${KEYCLOAK_EXTERNAL_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/auth
OIDC_TOKEN_URI=${KEYCLOAK_INTERNAL_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
OIDC_USERINFO_URI=${KEYCLOAK_INTERNAL_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/userinfo
OIDC_JWKS_URI=${KEYCLOAK_INTERNAL_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
